<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583539557800-tfcvd9gmtpuhbfb52nkfs0bkl22cq0t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583539557800-tfcvd9gmtpuhbfb52nkfs0bkl22cq0t9</string>
	<key>API_KEY</key>
	<string>AIzaSyB6o9NrBY-GgE1tpBGQzb9is9oSK_vS_o8</string>
	<key>GCM_SENDER_ID</key>
	<string>583539557800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myenglishpalWeb</string>
	<key>PROJECT_ID</key>
	<string>my-english-pal-web</string>
	<key>STORAGE_BUCKET</key>
	<string>my-english-pal-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583539557800:ios:e55f7a843b47363c3d899d</string>
</dict>
</plist>